Source: gbvdoc
Section: misc
Priority: extra
Maintainer: Jakob Voß <jakob.voss@gbv.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.2

Package: gbvdoc
Architecture: any
Depends: perl-base (>= 5.14.1),
    starman,
    librdf-trine-perl,
    librdf-ns-perl,
    libjson-perl,
    libchi-perl,
    libtry-tiny-perl,
    libtemplate-perl,
    liblog-contextual-perl
Description: GBV Documents
